#account:hover {
    cursor: pointer;
}

.ui-draggable-dragging{
    box-shadow:0 0 2px #000;
    z-index: 100;
}

#toolbar {
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.translate_toolbar {
    transition: width 1s, height 1s, background-color 1s, transform 1s;
    background-color: #FFCCCC;
    width: 17vw;
}

.textActive {
    color: #4de162;
}